:root {
    --color1: #000000;
    --color1Alt: #1D2723;
    --color2: #ecf0f3;
    --color3: #efe7c9;
    --color4: #e5d07c;
    --color5: #e49d0f;
    --backg1: #ecf0f3;
    --box-shadow1: .375rem 375rem 0.813rem #ffffff, 
                .375rem 375rem 0.813rem #00000029;

    --backg2: #e7aeee;
    --backg3: radial-gradient(circle, #e7aeee84 0%, rgba(215, 233, 148, 0.452) 82%); 

                
}
html {
    box-sizing: border-box;
    background: var(--backg2);
    background: var(--backg3);
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }

  html, body{
    margin: 0;
  }
