.projectContainer {
    margin: auto;
    padding: 40px 0;
    
    /* display: flex;
    gap: 20px; */

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.cardsContainer {
    /* width: 70%; */
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.card{
    border-radius: 10px;
    min-height: 200px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;

    /* width: calc(33.33%- 20px); */
}
.card .text {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectBanner {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}